.App {
  text-align: center;
  background-color: #191d28 ;
  min-height: 100vh;
  margin: 0;
  display: flex;
   align-items: center;
   gap: 2rem;
   flex-direction: column;
}
h1{margin: 0;}

body{margin: 0;}
input{ border-radius: 50px; width: 50vw; height: 40px;}
.video-player-container{ border-radius: 30px;} 